<main class="w-screen h-screen my-auto flex items-center justify-center">
    <div class="w-3/5 h-3/5 flex flex-col gap-8 px-4">
        <header class="w-auto h-auto flex flex-row items-center justify-center gap-4">
            <h1 class="text-4xl font-bold cursor-auto">Add Task</h1>
            <span class="material-symbols-outlined text-[38px] cursor-auto">
                add_circle
            </span>
        </header>

        <section class="w-full h-auto flex flex-col items-center justify-center gap-4">
            <div class="w-3/5 h-auto flex items-center px-2 border border-emerald-600 rounded-lg">
                <span class="material-symbols-outlined font-light text-2xl">
                    lists
                </span>
                <input class="w-full px-2 py-2 rounded-lg outline-none border-none" type="text" />
            </div>
        </section>
    </div>
</main>